<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="<%= appUrl %>/admin" class="brand-link text-center">
    <!-- <img src="<%= appUrl %>/images/logo_white.svg" alt="Logo" class="brand-image" /> -->
    <span class="brand-text font-weight-light">QRipy管理</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a id="menu_stores" href="<%=`${appUrl}/admin/store` %>" class="nav-link">
            <i class="nav-icon fas fa-store"></i>
            <p>店舗</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
