<main class="main-cnt main-half">
  <div class="back-link">
    <a href="" class="back-btn"><i class="fa-solid fa-chevron-left"></i><span>戻る</span></a>
    <p class="u-fz-16-xl-14 u-fw-b">メニュー登録</p>
  </div>
  <section class="section-payment">
    <div class="payment">
      <table>
        <tbody>
          <tr>
            <th>テーブル</th>
            <td>テーブル1</td>
          </tr>
          <tr>
            <th>人数</th>
            <td>大人：２名・こども：２名</td>
          </tr>
          <tr>
            <th>ご来店日時</th>
            <td>2023-7-31　18：03</td>
          </tr>
          <tr>
            <th>メニュー</th>
            <td>食べ放題・飲み放題</td>
          </tr>
        </tbody>
      </table>
      <div class="box-button">
        <div class="box-point">
          <p class="desc">ラストオーダーまで</p>
          <div class="bottom">
            <span class="point">120</span>
            <span>分</span>
          </div>
        </div>
        <button class="c-btn u-bg-red">
          <span>退店</span>
        </button>
      </div>
    </div>
  </section>
  <section class="section-payment-detail">
    <div class="payment-detail">
      <div class="table-payment">
        <table>
          <thead>
            <th class="name">品名</th>
            <th class="number">注文数</th>
            <th class="price">価格</th>
            <th class="total">小計</th>
            <th class="tax">税率</th>
            <th class="status">注文状況</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>ラスカルお子様つつみつつみ焼ハンバーグ（ラスカルマグネット付き）</td>
              <td>2</td>
              <td>1,500円</td>
              <td>3,000円</td>
              <td>8%</td>
              <td>新規注文</td>
              <td>
                <button class="c-btn cancel-btn u-bg-red"><span>キャンセル</span></button>
              </td>
            </tr>
            <tr>
              <td>生ビール</td>
              <td>2</td>
              <td>1,500円</td>
              <td>3,000円</td>
              <td>10%</td>
              <td>調理中</td>
              <td>
                <button class="c-btn cancel-btn u-bg-red"><span>キャンセル</span></button>
              </td>
            </tr>
            <tr>
              <td><input type="text" placeholder="注文手動入力" /></td>
              <td><input type="number" /></td>
              <td><input type="number" /></td>
              <td><input type="number" /></td>
              <td><input type="number" /></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-detail">
        <table>
          <tbody>
            <tr>
              <th>小計:</th>
              <td>4,000円</td>
            </tr>
            <tr>
              <th>消費税::</th>
              <td class="tax">
                <span>8%</span>
                4,000円
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="tax">
                <span>10%</span>
                0,000円
              </td>
            </tr>
            <tr>
              <th class="total">合計:</th>
              <td class="total">4,000円</td>
            </tr>
            <tr>
              <th>お預かり:</th>
              <td class="storage">
                <input type="text" />
                円
              </td>
            </tr>
            <tr>
              <th>おつり::</th>
              <td>4,000円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-button">
        <button class="c-btn"><span>領収書印刷</span></button>
        <button class="c-btn"><span>レシート印刷</span></button>
      </div>
    </div>
  </section>
</main>
