<main class="main-cnt main-half">
  <div class="back-link">
    <a href="" class="back-btn"><i class="fa-solid fa-chevron-left"></i><span>戻る</span></a>
    <p class="u-fz-16-xl-14 u-fw-b">メニュー登録</p>
  </div>
  <section class="section-order-cashier">
    <div class="order-cashier">
      <table>
        <thead>
          <th class="time">時間</th>
          <th class="table-number">テーブル</th>
          <th class="name-food">メニュー名</th>
          <th class="order-number">注文数</th>
          <th>注文状況</th>
        </thead>
        <tbody>
          <tr>
            <td class="time"><strong>18：32</strong><span>12-27 </span></td>
            <td class="table-number">テーブル1</td>
            <td class="name-food">
              <img src="<%= appUrl %>/stores/img/food/demo-food.jpg" alt="" />
              <div class="box-content">
                <h5>ラスカルお子様つつみつつみ焼ハンバーグ（ラスカルマグネット付き）</h5>
                <span>メニューオプション：</span>
                <ul>
                  <li>シーザー</li>
                  <li>sフォンダンショコララスカルお子様つつみつつみ焼ハンバーグ（ラスカルマグネット付き）</li>
                </ul>
              </div>
            </td>
            <td class="order-number">1</td>
            <!--  
                 color button default: #3268FB(Status:done - color blue)
                if u want change color button, 
                pls change class of td: new-order(color button :green), cooking(color button:  red), finish(2 button: default color and black button)
              -->
            <td class="button-td new-order">
              <p>新規注文</p>
              <button><span>調理開始</span></button>
            </td>
          </tr>
          <tr>
            <td class="time"><strong>18：28</strong><span>12-27 </span></td>
            <td class="table-number">個室1</td>
            <td class="name-food">
              <img src="<%= appUrl %>/stores/img/food/demo-food.jpg" alt="" />
              <div class="box-content">
                <h5>生ビール</h5>
              </div>
            </td>
            <td class="order-number">2</td>
            <!--  
                 color button default: #3268FB(Status:done - color blue)
                if u want change color button, 
                pls change class of td: new-order(button color:green), cooking(button color: red), finish(2 button: default color and black button)
              -->
            <td class="button-td cooking">
              <p>調理中</p>
              <button><span>完成</span></button>
            </td>
          </tr>
          <tr>
            <td class="time"><strong>18：20</strong><span>12-27 </span></td>
            <td class="table-number">テーブル1</td>
            <td class="name-food">
              <img src="<%= appUrl %>/stores/img/food/demo-food.jpg" alt="" />
              <div class="box-content">
                <h5>生ビール</h5>
              </div>
            </td>
            <td class="order-number">2</td>
            <!--  
                 color button default: #3268FB(Status:done - color blue)
                if u want change color button, 
                pls change class of td: new-order(button color:green), cooking(button color: red), finish(2 button: default color and black button)
              -->
            <td class="button-td finish">
              <p>完成</p>
              <button><span>提供済み</span></button><button><span>リセット</span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
